@{
    ViewBag.Title = "About This Application";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>This is an application created for the purpose of allowing employees of Centric to recognize other employees when they exemplify the core values of Centric. </p>
