@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <img src=~/Images/centricLogo.jpg class="img-rounded" alt="centricLogo" width="100%">
        <h1>Our Core Values</h1>
        <p class="lead">View your coworkers, Send them points and Check out our core values all here!</p>
        <p><a href="https://centricconsulting.com/about-us/why-were-here/" class="btn-block btn-warning btn-lg">Why we're here &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-th-list"></span><br />
        Get to Know Your Coworkers</h2>
        <p>
            Take a look at your coworkers and get to know them a little better
        </p>

        <p><a class="btn btn-warning" href="https://localhost:44336/userDetails">Take a Look &raquo;</a></p>
        @*<li>@Html.ActionLink("userDetails", "Index", "userDetails")</li>*@
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-transfer"></span><br />
        Send Some Points</h2>
        <p>Noticed your coworkers are embodying our core values, send them points!</p>
        <p><a class="btn btn-warning" href="https://localhost:44336/sendPoints">Send Points &raquo;</a></p>
        @*<li>@Html.ActionLink("sendPoints", "Index", "sendPoints")</li>*@
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-flag"></span><br />
        Why We're Here</h2>
        <p>Check out our core values to see what we represent and why we're here</p>
        <p><a class="btn btn-warning" href="https://localhost:44336/coreValues">Check Them Out &raquo;</a></p>
        @*<li>@Html.ActionLink("coreValues", "Index", "coreValues")</li>*@
    </div>
</div>