
@{
    ViewBag.Title = "NotAuthenticated";
}
<br /><br />
<div class="alert-danger"
     <h2>Not Allowed</h2><br /><br />
        Must be logged in to view information.





</div>
<br />
@Html.ActionLink("Return to Home", "Index", "home")


